:root {
  --bg-black-900: #151515;
  --bg-black-100: #222222;
  --bg-black-50: #393939;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
  background-color: rgb(83, 78, 78);
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

/* container {
} */

.game-title {
  top: 0;
  background-color: var(--bg-black-100);
  text-align: center;
  color: darkcyan;
  font-size: 25px;
  margin-bottom: 20px;
}

.board {
  background-color: darkcyan;
  max-width: 640px;
  max-height: 640px;
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
}

.square {
  height: 80px;
  flex: 0 0 12.5%;
  margin: 0;
  padding: 14px;
  text-align: center;
  justify-content: center;
  position: relative;
}

.square:hover {
  border: 1px solid blue;
}

.w-sq {
  background-color: rgba(255, 255, 255, 0.281);
}

.b-sq {
  background-color: rgba(37, 34, 34, 0.76);
}

.white i {
  color: white;
}

.black i {
  color: black;
}

i {
  font-size: 50px;
  color: var(--bg-black-900);
}

.selected {
  padding: 0;
  border: 3px solid rgb(227, 190, 245);
  text-align: center;
  z-index: 4;
}

.selected i {
  top: 3px;
  font-size: 65px;
  margin: 0;
  position: relative;
}

.moves {
  background-color: rgb(227, 190, 245);
}
