:root {
  --bg-black-900: #151515;
  --bg-black-100: #222222;
  --bg-black-50: #393939;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
  background-color: rgb(83, 78, 78);
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.game-title {
  top: 0;
  background-color: var(--bg-black-100);
  text-align: center;
  color: darkcyan;
  font-size: 25px;
  margin-bottom: 20px;
}

.alert {
  position: absolute;
  background-color: darkslategrey;
  font-size: 20px;
  color: white;
  top: 42vh;
  left: 38vw;
  border-radius: 20%;
  border: 2px solid aqua;
  text-align: center;
  padding: 20px;
  height: 190px;
  z-index: 5;
}

.button-box {
  position: relative;
  background-color: darkcyan;
  padding: 8px;
  border-radius: 5px;
  border: 2px solid cyan;
  width: 50px;
  height: 50px;
}

.promotion {
  width: 300px;
  left: 40vw;
}

.promotion .button-box {
  margin: 5px;
  margin-top: 25px;
}

.button-box h1 {
  font-family: sans-serif;
}

.button-box h2 {
  font-family: sans-serif;
}

.button-box i {
  font-size: 30px;
}

.board {
  background-color: darkcyan;
  max-width: 640px;
  max-height: 640px;
  width: 100%;
  height: 100%;
  margin: 0;
  position: absolute;
  top: 100px;
}

.hidden {
  display: none;
}

.square {
  height: 80px;
  width: 80px;
  margin: 0;
  padding: 14px;
  text-align: center;
  position: relative;
}

.square:hover {
  border: 1px solid white;
}

.left-container .top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--bg-black-900);
  color: darkcyan;
  width: 400px;
  padding: 20px;
  margin: 0;
  height: 200px;
  position: absolute;
  top: 100px;
  left: 20px;
  border-radius: 2%;
  border: 2px solid white;
  opacity: 0.6;
}

.left-container .top h1 {
  font-family: sans-serif;
  font-style: italic;
  text-align: center;
  position: relative;
}

.left-container .bottom {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-black-900);
  color: darkcyan;
  width: 400px;
  padding: 20px;
  margin: 0;
  height: 420px;
  position: absolute;
  top: 320px;
  left: 20px;
  border-radius: 2%;
  border: 2px solid white;
  opacity: 0.6;
}

.left-container .bottom h1 {
  text-align: center;
  font-size: 50px;
  border-bottom: 3px solid grey;
  padding: 10px;
}

.left-container .bottom p {
  text-align: left;
  margin-top: 80px;
  font-size: 15px;
  padding: 10px;
}

.right-container {
  display: flex;
  flex-direction: column;
  justify-content: top;
  background-color: var(--bg-black-900);
  color: white;
  width: 400px;
  padding: 20px;
  margin: 0;
  height: 640px;
  position: absolute;
  top: 100px;
  right: 20px;
  border-radius: 1%;
  border: 2px solid white;
  opacity: 0.6;
}

.right-container p {
  height: 580px;
}

.right-container input {
  width: 280px;
  padding: 3px;
  margin: 5px;
  border-radius: 2px;
}

.right-container .submit-button {
  width: 70px;
  height: 25px;
  padding: 0px;
  margin: 5px;
  border-radius: 2px;
  font-size: 16px;
  text-align: center;
  justify-content: center;
  background-color: darkcyan;
}

.w-sq {
  background-color: rgba(255, 255, 255, 0.281);
}

.b-sq {
  background-color: rgba(37, 34, 34, 0.76);
}

.white i {
  color: white;
}

.black i {
  color: black;
}

i {
  font-size: 50px;
  color: var(--bg-black-900);
}

.selected {
  padding: 0;
  border: 3px solid white;
  text-align: center;
  z-index: 4;
}

.selected i {
  top: 3px;
  font-size: 65px;
  margin: 0;
  position: relative;
}

.moves {
  position: absolute;
  margin: 0;
  top: 25px;
  left: 25px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px dotted grey;
  opacity: 0.5;
  background-color: grey;
}
