:root {
  --bg-black-900: #151515;
  --bg-black-100: #222222;
  --bg-black-50: #393939;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
  background-color: rgb(83, 78, 78);
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.game-title {
  top: 0;
  background-color: var(--bg-black-100);
  text-align: center;
  color: darkcyan;
  font-size: 25px;
  margin-bottom: 20px;
}

.alert {
  position: absolute;
  background-color: var(--bg-black-100);
  font-size: 20px;
  color: white;
  top: 42vh;
  left: 38vw;
  border-radius: 20%;
  border: 2px solid var(--bg-black-50);
  text-align: center;
  padding: 20px;
  height: 190px;
  z-index: 5;
}

.button-box {
  position: relative;
  background-color: darkcyan;
  padding: 8px;
  border-radius: 5px;
  outline: 2px solid cyan;
  width: 50px;
  height: 50px;
}

.promotion {
  width: 300px;
  left: calc(50vw - 150px);
}

.promotion .button-box {
  margin: 5px;
  margin-top: 25px;
}

.button-box h1 {
  font-family: sans-serif;
}

.button-box h2 {
  font-family: sans-serif;
}

.button-box i {
  font-size: 30px;
}

.board {
  background-color: darkcyan;
  max-width: 640px;
  max-height: 640px;
  width: 100%;
  height: 100%;
  margin: 0;
  position: absolute;
  top: 100px;
}

.hidden {
  display: none;
}

.square {
  height: 80px;
  width: 80px;
  margin: 0;
  padding: 14px;
  text-align: center;
  position: relative;
}

.square:hover {
  outline: 1px solid white;
}

.left-container {
  position: absolute;
  display: inline-block;
  align-items: center;
  justify-content: center;
  top: 100px;
  left: 20px;
}
.left-container .top {
  background-color: var(--bg-black-900);
  color: darkcyan;
  width: 400px;
  padding: 50px;
  margin: 0;
  height: 200px;
  border-radius: 2%;
  outline: 2px solid white;
  opacity: 0.6;
}

.left-container .top h1 {
  font-family: sans-serif;
  font-style: italic;
  text-align: center;
  position: relative;
}

.left-container .bottom {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: var(--bg-black-900);
  color: darkcyan;
  width: 400px;
  padding: 20px;
  margin: 0;
  margin-top: 20px;
  height: 420px;
  border-radius: 2%;
  outline: 2px solid white;
  opacity: 0.6;
}

.left-container .bottom h1 {
  text-align: center;
  font-size: 50px;
  border-bottom: 3px solid grey;
  padding: 10px;
}

.left-container .bottom p {
  text-align: left;
  margin-top: 80px;
  font-size: 15px;
  padding: 10px;
}

.right-container {
  display: flex;
  flex-direction: column;
  justify-content: top;
  background-color: var(--bg-black-900);
  color: white;
  width: 400px;
  padding: 20px;
  margin: 0;
  height: 640px;
  position: absolute;
  top: 100px;
  right: 20px;
  border-radius: 1%;
  outline: 2px solid white;
  opacity: 0.6;
}

.right-container p {
  height: 580px;
}

.right-container input {
  width: 280px;
  padding: 3px;
  margin: 5px;
  border-radius: 2px;
}

.right-container .submit-button {
  width: 70px;
  height: 25px;
  padding: 0px;
  margin: 5px;
  border-radius: 2px;
  font-size: 16px;
  text-align: center;
  justify-content: center;
  background-color: darkcyan;
}

.w-sq {
  background-color: rgba(255, 255, 255, 0.281);
}

.b-sq {
  background-color: rgba(37, 34, 34, 0.76);
}

.white i {
  color: white;
}

.black i {
  color: black;
}

i {
  font-size: 50px;
  color: var(--bg-black-900);
}

.selected {
  padding: 0;
  outline: 3px solid white;
  text-align: center;
  z-index: 4;
}

.selected i {
  top: 3px;
  font-size: 65px;
  margin: 0;
  position: relative;
}

.moves {
  position: absolute;
  margin: 0;
  top: 25px;
  left: 25px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  outline: 1px dotted grey;
  opacity: 0.5;
  background-color: grey;
}

@media (max-width: 1490px) {
  .board {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .alert h2 {
    font-size: 25px;
  }
  .alert h1 {
    font-size: 30px;
  }
  .game-over {
    width: 50vw;
    left: 25vw;
  }
  .left-container {
    display: block;
    width: 640px;
    margin-left: auto;
    margin-right: auto;
    top: auto;
    left: auto;
    top: 800px;
  }
  .left-container .top,
  .left-container .bottom {
    width: 100%;
  }
  .right-container {
    display: block;
    width: 640px;
    margin-left: auto;
    margin-right: auto;
    top: 1500px;
    right: auto;
  }
  .right-container input {
    width: 480px;
  }
  .right-container .submit-button {
    width: 120px;
  }
}

@media (max-width: 660px) {
  .board {
    width: 95vw;
    height: 95vw;
  }
  .square {
    height: calc((95vw / 8));
    width: calc((95vw / 8));
    padding: 2vw;
  }
  .alert h2 {
    font-size: 6vw;
  }
  .game-over h2 {
    font-size: 4vw;
  }
  .game-over h1 {
    font-size: 6vw;
  }
  i {
    font-size: 8vw;
  }
  .button-box {
    width: 9vw;
    height: 9vw;
  }
  .button-box i {
    font-size: 6vw;
  }
  .moves {
    top: 4vw;
    left: 4vw;
    width: 4vw;
    height: 4vw;
  }
  .selected i {
    top: 0px;
    padding-bottom: 4vw;
    font-size: 9vw;
  }
  .left-container {
    display: block;
    width: 95vw;
    top: calc(100vw + 180px);
  }
  .right-container {
    width: 95vw;
    top: calc(100vw + 900px);
  }
  .right-container input {
    width: 60vw;
  }
  .right-container .submit-button {
    width: 20vw;
  }
  .promotion {
    width: 50vw;
    left: 25vw;
  }
}
