:root {
  --bg-black-900: #151515;
  --bg-black-100: #222222;
  --bg-black-50: #393939;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
  background-color: rgb(83, 78, 78);
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

/* container {
} */

.game-title {
  top: 0;
  background-color: var(--bg-black-100);
  text-align: center;
  color: darkcyan;
  font-size: 25px;
  margin-bottom: 20px;
}

.board {
  background-color: darkcyan;
  max-width: 640px;
  max-height: 640px;
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
}

.hidden {
  display: none;
}

.square {
  height: 80px;
  width: 80px;
  margin: 0;
  padding: 14px;
  text-align: center;
  position: relative;
}

.square:hover {
  border: 1px solid white;
}

.container1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: wheat;
  width: 400px;
  padding: 20px;
  margin: 0;
  height: 200px;
  position: relative;
  border-radius: 40%;
  border: 10px solid cadetblue;
}

.container1 h1 {
  font-family: sans-serif;
  font-style: italic;
  text-align: center;
}

.container2 {
  background-color: green;
  width: 400px;
  padding: 0;
  margin: 0;
  height: 200px;
  position: relative;
}

.w-sq {
  background-color: rgba(255, 255, 255, 0.281);
}

.b-sq {
  background-color: rgba(37, 34, 34, 0.76);
}

.white i {
  color: white;
}

.black i {
  color: black;
}

i {
  font-size: 50px;
  color: var(--bg-black-900);
}

.selected {
  padding: 0;
  border: 3px solid white;
  text-align: center;
  z-index: 4;
}

.selected i {
  top: 3px;
  font-size: 65px;
  margin: 0;
  position: relative;
}

.moves {
  position: absolute;
  margin: 0;
  top: 25px;
  left: 25px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px dotted grey;
  opacity: 0.5;
  background-color: grey;
}
